.image-card {
  background-image: url(../../content/assets/images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  height: 100vh;
  &:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #1d4f9e;
    opacity: 0.5;
    position: absolute;
  }
  .image {
    height: 491px;
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 90px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
    button {
      background-color: #4cafbe;
      border: 1px solid #1d4f9e;
      color: #000;
      &:hover {
        background-color: #1d4f9e !important;
        border: 1px solid #4cafbe !important;
        color: #fff;
      }
    }
  }
}
@media (min-width: 768px) {
  .image-card {
    .intro-text {
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
